{% extends "layout.html" %}

{% block pageTitle %}
  Make an interim claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Scheme details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Reporting excess relief"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "value"
                }
              ]
            }
          },
          {
            key: {
              text: "Relief at source reference number"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Value"
                }
              ]
            }
          },
          {
            key: {
              text: "Scheme administrator name"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Value"
                }
              ]
            }
          },
          {
            key: {
              text: "Scheme name"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "value"
                }
              ]
            }
          },
          {
            key: {
              text: "Pension scheme tax reference (PSTR)"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Value"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-m">Payment details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Account number"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "value"
                }
              ]
            }
          },
          {
            key: {
              text: "Account name"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Value"
                }
              ]
            }
          },
          {
            key: {
              text: "Sort code"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Value"
                }
              ]
            }
          },
          {
            key: {
              text: "Full name of bank or building society"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Value"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Claim details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [

          {
            key: {
              text: "Claim period"
            },
            value: {
              text: "Value"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Value"
                }
              ]
            }
          }
        ]
      }) }}


      <form action="uktaxpayers_question" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
