{% extends "layout.html" %}

{% block pageTitle %}
  Make an interim claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Tell us about your contributions from UK taxpayers</h1>

      <form class="form" action="scottishtaxpayers_question" method="post">

        {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        id: "net-uktaxpayers",
        name: "net-uktaxpayers",
        label: {
          text: "Net contributions received from members who are UK taxpayers?",
          isPageHeading: true
        },
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Number of members who are UK taxpayers included in the claim"
        },
        classes: "govuk-input--width-5",
        id: "number-uktaxpayers",
        name: "number-uktaxpayers",
        inputmode: "numeric",
        pattern: "[0-9]*",
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "relief-uktaxpayers",
        name: "relief-uktaxpayers",
        label: {
          text: "Amount of relief claimed for members who are UK taxpayers",
          isPageHeading: true
        },
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}




        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
