{% extends "layout.html" %}

{% block pageTitle %}
  Make an interim claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">MPS dashboard</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Scheme page</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Make an interim claim</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Relief at Source interim claim
      </h1>

      <p>Use this online form to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>make an interim claim for tax relief at source on pension contributions</li>
        <li>tell us about any excess relief that you’ve claimed</li>
      </ul>

      <a href="excess_question" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>If you're using your Managing Pension Schemes account to make an interim claim, this online form replaces the APSS 105 form. You can still <a href="#" class="govuk-link">make a claim by post or email</a> if you want.</p>

      <p>You should submit this form no later than the last working day of the month of the claim so that HMRC can pay you on the 21st day of the following month (or the next working day). For example, you must send a claim to 5 June by the last working day of June. HMRC will then send payment on 21 July (or the next working day).</p>

      <p>For more information, you can read the <a href="#" class="govuk-link">full Relief at Source guidance page</a> and <a href="#" class="govuk-link">page PTM044220 of the Pensions Tax Manual</a>.</p>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
{% endblock %}
