{% extends "layout.html" %}

{% block pageTitle %}
  Make an interim claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You need to download and fill in an excess schedule</h1>
        <p class="govuk-body">If you are reporting excess as part of your interim claim, you need to download and fill in an <a href="#" class="govuk-link">excess relief schedule template</a>.</p>
        <p class="govuk-body">Once you've done this, email the file to example@hmrc.co.uk. You can then continue with your interim claim.</p>
        <p class="govuk-body">Alternatively, you can post the excess schedule to: Pension Schemes Services, HM Revenue and Customs, BX9 1GH.</p>
        <p class="govuk-body">You can find more information on the <a href="#" class="govuk-link">excess relief at source guidance page</a>.</p>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "excess",
          name: "excess",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "excessyes",
              text: "I have filled in an excess schedule and sent it to HMRC",
              checked:true
            }
          ]
        }) }}

      <form class="form" action="reference_question_excess" method="post">

        {% from "govuk/components/button/macro.njk" import govukButton %}
      {% from "govuk/components/input/macro.njk" import govukInput %}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
